@import url(https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap);

body{
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Ibarra Real Nova', serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.head{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(11, 0, 65);
    height: 65%;
    padding-top: 0%;
    margin: 2rem 4rem 1rem 4rem;
    border-radius: 30px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 20;
}

@keyframes example {
    0% {background-color: rgb(0, 0, 0);}
    50% {background-color: rgb(16, 14, 83);}
    100% {background-color: rgb(0, 0, 0);}
  }


.header-text{
    color: white;
    width: 50%;
    padding: 2rem;
    font-size: 1vw;
}
#header-heading{
    font-size: 3em;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 5%;

}

#header-textin p{
    padding-top: 2%;
    font-size: 2em;
}

#header-icon{
    align-items: center;
}
.header-button{
    background-color: rgb(221, 0, 0);
    border-radius: 10px;
    border: none;
    color: white;
    height: 4em;
    width: 15em;
    font-size: 1vw;
}

.fa-angle-right{
    padding-left: 10px;
}
.header-img{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0%;
}
.header-img img{
    height: 100%;
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/*****************
 Header End
 Middle Start
******************/


.middle-part{
    display: flex;
    padding: 2rem 4rem;
    width: 100%;
    box-sizing: border-box;
}
.menu{
    height: 20%;
    width: 25%;
    background-color: rgb(11, 0, 65);
    border-radius: 10px;
    display: block;
    align-items: center;
    justify-content: center;
}

.menu-button{
    background-color: white;
    height: 30%;
    width: 90%;
    margin: 5%;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
}
.upcaming{
    background-color: rgb(221,0,0);
    margin-top: 2rem;
}
.blog{
    margin-bottom: 2rem;
}

/*****************
Menu End
 Start Time table
******************/

.Timetable{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    margin-left: 1rem;
}
.time-box{
    height: fit-content;
    width: min-content;
    border: solid;
    border-radius: 10px;
    border-color: rgba(219, 218, 218, 0.859);
    display: inline;
    margin: 10px;
}
.flag-text{
    display: inline-flex;
    padding: 50px 45px 0px 45px;
}
.vstxt{
    text-align: center;
    padding: 20px 9px;
}
.Time-heading{
    padding-left: 75px;
}
.match-date{
    padding-left: 65px;
}

.view-button{
    background-color: rgb(221, 0, 0);
    margin-top: 10px;
    padding: 10px 30px;
    display: none;
    border-radius: 10px;
    border: none;
}

/*****************
Footer Start
******************/



.footer{
    height: 100%;
    width: 100%;
    background-color: rgb(11, 0, 65);
    padding: 2rem 3rem 1rem 3rem;
    text-align: center;
    color:rgb(91, 93, 92);
    display: block;
    box-sizing: border-box;
}
.upperfooter{
    font-size: 30px;
    color: white;
}
#hr{
    width: 90%;
    height: 0.1rem;
    margin: 1.5rem auto;
    color: rgba(36, 86, 58, 0.132);
}
.lowerfooter{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    color: rgb(185,185,185);
    padding-bottom: 20px;
}

.fa-brands{
    font-size: 30px;
    padding: 0px 1rem;
    margin-bottom: 20px;
}

/*
    For tab Screen
*/
@media only screen and (min-width:577px) and (max-width:992px) {
    .middle-part{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu{
        width: 100%;
        background-color: rgb(233, 250, 255);
        display: flex;
        flex-direction: row;
        margin-bottom: 1.5rem;
        border-radius: 1.3rem;
        
    }
   
    .Timetable{
        grid-template-columns: repeat(2, 1fr);
    }
    .hidden-s{
        display: none;
    }
    .view-button{
        display: block;
    }
    .lowerfooter{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}




/*
    For Mobile Screen
*/

@media only screen and (max-width: 576px){
    .head{
        flex-direction: column;
    }
    .header-text{
        font-size: 1.3vw;
    }
    .header-img{
        padding-top: 0px;
    }
    .middle-part{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu{
        width: 100%;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
        border-radius: 1.3rem;
        
    }
    .Timetable{
        grid-template-columns: repeat(1, 1fr);
    }
    .hidden-s{
        display: none;
    }
    .lowerfooter{
        display: flex;
        flex-direction: column;
    }
}